.Rproj.user
.Rhistory
*.RData
.Ruserdata
*.RData
*.pdf
*.doc
*.docx
*.png
*.eps
*.xlsx
Writing/
Figures/
DeerDensityPred*
PigDensityPred*
cougar_cluster_investigations.csv
CameraCovariates_NDVI_289_log.csv
deerpred*
pigpred*
*.rds
Code/covmod2.txt

